@import url(toolbar.css);
@import url(table.css);
@import url(footer.css);
.content {
  width: inherit;
  height: 100%;

  position: relative;
}

.content .dflex {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
}

.center {
  text-align: center;
}
