<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="toast toast--success">
    <div class="toast__icon"></div>
    <div class="toast__info">
        <h5 class="info__title">
            Thành công
        </h5>
        <p class="info__description">Đã gửi thông báo cho phụ huynh học sinh</p>
    </div>
</div>

<div class="toast toast--error">
    <div class="toast__icon"></div>
    <div class="toast__content">
        <h5 class="toast__title">
            Thành công
        </h5>
        <p class="toast__message">Đã gửi thông báo cho phụ huynh học sinh</p>
    </div>
</div>

<div class="toast toast--warning">
    <div class="toast__icon"></div>
    <div class="toast__info">
        <h5 class="info__title">
            Thành công
        </h5>
        <p class="info__description">Đã gửi thông báo cho phụ huynh học sinh</p>
    </div>
</div>

<div class="toast toast--notification">
    <div class="toast__icon"></div>
    <div class="toast__info">
        <h5 class="info__title">
            Thành công
        </h5>
        <p class="info__description">Đã gửi thông báo cho phụ huynh học sinh</p>
    </div>
</div>
</body>
</html>