.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--overlay-color);
  z-index: 99;
}

.hide-dialog {
  display: none;
}

.close--dialog {
  background: url(../../assets/Icons/ic_X_2.png) no-repeat center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.dialog__body {
  position: absolute;
  min-width: 920px;
  height: auto;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.img-box {
  width: 180px;
  height: 180px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.btn-upload {
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
}

.btn-upload:hover {
  cursor: pointer;
}

.body__left {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  align-items: center;
  text-align: center;
}

.wrapper__left {
  margin: 20px 0px;
  border-right: 1px solid var(--line-gridpanel-color);
}

.body__right {
  flex: 1;
  margin: 20px 30px;
  color: #b1b1b1;
}

.body__right .title {
  margin: 10px 0px;
  font-size: 20px;
  color: #747474;
}

.info-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fullname {
  font-family: OpenSans Semibold;
  font-size: 16px;
  margin-bottom: 12px;
}

.form {
  margin-top: 24px;
}

.form .row {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  min-width: 550px;
}

/* label.required { */
/*   position: relative; */
/* } */

.short--input {
  width: 150px;
}

.medium--input {
  width: 200px;
}

.long--input {
  min-width: 440px;
}

.input-stack {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

label.required::after {
  content: "*";
  color: #d94e37;
  position: absolute;
  margin-left: 2px;
}

.input {
  height: 32px;
  padding: 0 12px;
}

.input:focus {
  outline: none;
  padding: 0 8px;
}

.input--rounded {
  border-radius: 4px;
  border: 1px solid var(--line-gridpanel-color);
}

.mtl-select {
  /* width: 100px; */
  /* background-color: greenyellow; */
  /* min-height: 30px; */
}

.combobox {
  position: relative;
  /* position: absolute; */
  top: 0;
  right: 0;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.toggle-combobox {
  background: url("../../assets/Icons/ic_chevron2.svg") no-repeat;
  background-position: center;
  width: 21px;
  height: 17px;
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
}

.combobox dd,
.combobox dt {
  margin: 0px;
  padding: 0px;
}

.combobox dd {
  position: relative;
}

.combobox a,
.combobox a:visited {
  color: #000;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.combobox dt .selected-container {
  border: 1px solid var(--line-gridpanel-color);
  border-radius: 4px;
  display: flex;
  justify-content: start;
  line-height: 24px;
  overflow: hidden;
  min-width: 100%;
  min-height: 32px;
  flex-wrap: wrap;
  padding-right: 39px;
}

.combobox dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0px 8px 4px 0;
  /* padding: 4px 8px; */
}

.multiSel {
  padding: 4px 0 0 8px;
}

.combobox dd ul {
  background-color: #fff;
  border: 0;
  color: #000;
  display: none;
  left: 0px;
  margin-top: 8px;
  position: absolute;
  top: 0px;
  width: 280px;
  list-style: none;
  height: 180px;
  overflow: auto;
  width: 100%;
  z-index: 3;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 1px rgba(224, 224, 224, 1);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(224, 224, 224, 1);
}

.combobox span.value {
  display: none;
}

.combobox dd ul li a {
  padding: 5px;
  display: block;
}

.combobox dd ul li {
  display: flex;
  align-items: center;
  margin: 12px 16px;
  height: 20px;
}

.combobox dd ul li:first-child {
  /* margin: 0px 12px; */
  padding: 16px 0 12px 0;
  margin: 0px 16px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid var(--line-gridpanel-color) /* height: 48px; */
    /* padding: 16px 0 12px 0; */;
  height: 48px;
}

.combobox dd ul li .checkbox .cb-value {
  margin-left: 12px;
}

.combobox dd ul li a:hover {
  background-color: #fff;
}

button {
  background-color: #6bbe92;
  width: 302px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.mutliSelect .wrap-item {
  pading: 8px 4px;
}

.multiSel .selected-item {
  position: relative;
  display: inline-block;
  color: #000;
  background-color: #ccc;
  border-radius: 4px;
  padding: 0 8px;
  /* margin: 0 8px 8px 0; */
  text-align: center;
  height: 24px;
}

.multiSel .selected-item .remove-item {
  background-image: url("../../assets/Icons/ic_remove_normal.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  margin-left: 8px;
}

.multiSel .selected-item .remove-item:hover {
  background-image: url("../../assets/Icons/ic_remove_hover2.svg");
  background-size: 8px;
  background-repeat: no-repeat;
}

.multiSel .checkbox {
  height: 32px;
  width: 100%;
}

.form-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 32px 32px auto auto 32px 32px;
  gap: 12px 30px;
}

.form-stack-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.form-stack-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.form-stack-3 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.form-stack-4 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.form-stack-5 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.form-stack-6 {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
}
.form-stack-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.form-stack-8 {
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
}

.form-stack-9 {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: end;
  align-items: center;
}

.wrap-label {
  height: 32px;
  display: flex;
  align-items: center;
}

.multiselect {
  flex: 1;
}

#subjects {
  max-width: 200px;
}

#rooms {
  max-width: 580px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: flex;
  background: url(../../assets/Icons/ic_date.svg) no-repeat center;
  width: 20px;
  height: 20px;
  border-width: thin;
  align-content: center;
  padding: 6px;
  border-left: 1px solid var(--line-gridpanel-color);
}

input[type="date"] {
  height: 32px;
  border: 1px solid var(--line-gridpanel-color);
  border-radius: 4px;
  padding-left: 12px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-0 {
  margin-right: 0px;
}
