.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--overlay-color);
  display: none;
}

.dialog-add-employee {
  position: fixed;
  width: 920px;
  height: auto;
  background-color: greenyellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.img-box {
  width: 180px;
  height: 180px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.btn-upload {
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
}

.btn-upload:hover {
  cursor: pointer;
}

.dialog-left {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
  text-align: center;
}

.fullname-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fullname-text {
  font-family: OpenSans Semibold;
  font-size: 16px;
  margin-bottom: 12px;
}
